@media (max-width: 425px) {
  #page-create-point {
    margin: 0 auto;
  }

  #page-create-point header {
    padding: 10px;
  }

  #page-create-point form {
    padding: 30px;
  }

  form h1 {
    text-align: center;
  }

  #page-create-point form .field-group {
    flex-direction: column;
  }
  #page-create-point form .field-group .field + .field {
    margin: 0;
  }

  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #page-create-point form button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #page-create-point header {
    padding: 20px;
  }

  #page-create-point form {
    margin: 40px auto;
  }

  #page-create-point form h1 {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  #page-create-point header {
    padding: 20px;
  }
}
